!!!
%html
  %head
    %title BestFlix - The Best Picture Nominees on Netflix
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "academy awards, oscars, best picture, netflix, award, movies, films", :name => "keywords"}
    %meta{:content => "Find the Best Picture Nominees from any year since the inception of the Academy Awards and add them to your Netflix Queue. Never miss a great movie again!", :name => "description"}
    = stylesheet_link_tag    :application
    = javascript_include_tag :application
    = csrf_meta_tags
  %body
    /start header
    #wrapper.container_12.clearfix
      / Text Logo
      %h1#logo.grid_4
        Best
        %span{:style => "color: red;"} Flix
      / Navigation Menu
      %ul#navigation.grid_8
        %li
          %a{:href => "mailto:david@davidstump.net"}
            %span.meta Get in touch
            = succeed "Contact" do
              %br/
            Us
        %li
          %a.current{:href => "/"}
            %span.meta Homepage
            = succeed "Home" do
              %br/
      .hr.grid_12  
      .clear
      / end header

      /start filter
      %h2.grid_12.caption.clearfix
        Best Picture Nominees From:
        %form{:action => "", :method => "GET", :name => "pickyear", :style => "display: inline"}
          = select_year(params[:id].to_i, :start_year => Time.now.year - 1, :end_year => 1927, :field_name => 'pickyear', :id => "pickyear", :default => 1998)
          /end filter

      #films
        /start films
        = yield
        /end films

      .hr.grid_12.clearfix{:style => "margin-top: 15px;"}

      / Footer
      %p.grid_12.footer.clearfix
        %span.float
          %b © Copyright
          %a{:href => "http://davidstump.net"} David Stump
        %a.float.right{:href => "#"} top
    / end wrapper
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28709173-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();